*.*~
*.bak
*.pyc
*.dat
*.xml
*.log
__pycache__
h
.DS_Store
.project
.pydevproject
.ipynb_checkpoints
.toto.py
untitled*
figures/
frames/
dist/
KW.py
dynac/dynacv6_0_modified/dynac.long
dynac/dynacv6_0_modified/a.exe
dynac/dynacv6_0_modified/beam_core_H.dst
dynac/dynacv6_0_modified/beam_core_L.dst
dynac/dynacv6_0_modified/beam_core_V.dst
dynac/dynacv6_0_modified/beam_remove_H.dst
dynac/dynacv6_0_modified/beam_remove_L.dst
dynac/dynacv6_0_modified/beam_remove_V.dst
dynac/dynacv6_0_modified/cavdat.out
dynac/dynacv6_0_modified/dynac.dmp
dynac/dynacv6_0_modified/dynac.print
dynac/dynacv6_0_modified/dynac.short
dynac/dynacv6_0_modified/dynac_in_pr.dst
dynac/dynacv6_0_modified/emit.plot
dynac/dynacv6_0_modified/lost_particles.data
