*.*~
*.bak
*.pyc
*.dat
*.xml
__pycache__
.DS_Store
.project
.pydevproject
.ipynb_checkpoints
.settings/
.vscode/
.toto.py
fodo_test_with_madx
chirp.py
subplot_demo.py
untitled*
Tablplot.log
TplotPRF.TXT
figures/
frames/
dynac/dynac.*
!dynac/dynac.in
dynac/dynac_*
dynac/beam_*
dynac/cavdat*
dynac/emit.*
dynac/lost_particles.*

