*.*~
*.bak
*.pyc
*.dat
*.xml
*.log
*.h5
*.stats
__pycache__
.DS_Store
.project
.pydevproject
.ipynb_checkpoints
h
t
simuIN.vml
trackerIN.yml
toto.py
tmp.py
Untitled*
KW.py
!dynac/generated/showEzTables.py
figures/
frames/
dist/
dynac/dynacv6_0_modified/
dynac/generated/
new_versions/
test_runs/
SH/
